.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 48px auto 60px;
}

.u-section-1 .u-table-1 {
  margin-top: 48px;
  margin-bottom: 60px;
}

.u-block-fac1-5 {
  background-image: none;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  padding: 0;
}

.u-section-1 .u-table-cell-9 {
  background-image: none;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-13 {
  background-image: none;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-17 {
  background-image: none;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-21 {
  background-image: none;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-25 {
  background-image: none;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-29 {
  background-image: none;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-33 {
  background-image: none;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-37 {
  background-image: none;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-41 {
  background-image: none;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-45 {
  background-image: none;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-49 {
  background-image: none;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-53 {
  background-image: none;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-57 {
  background-image: none;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-61 {
  background-image: none;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-65 {
  background-image: none;
}

.u-section-1 .u-btn-16 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-69 {
  background-image: none;
}

.u-section-1 .u-btn-17 {
  background-image: none;
  border-style: none;
  padding: 0;
}

.u-block-fac1-32 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    font-weight: 400;
  }
}